<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap 3.3.x core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for Paparazzi -->
    <link href="css/paparazzi.css" rel="stylesheet">
    <title>Paparazzi - an LDAP picture update web service</title>
  </head>
  <body>
		<div class="container">
			<h1 class="heading">Paparazzi</h1>
			<p class="heading">an LDAP picture update web service</h2>
			<div class="flash"><p class="heading"><%= "#{session[:flash]}" %></p></div>
			<div class="container-signin">
				<form method="post" action="login" class="form-signin">
					<h3 class="form-signin-heading">Please sign in</h3>
		      <label for="inputUsername" class="sr-only">Username</label>
					<input type="text" id="inputUsername" required autofocus class="form-control" name="username" value="" placeholder="Username (e.g. 3163 or joefass)" />
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required />
		      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		   	</form>
			</div>
		</div>
  </body>
</html>